/* ------------------------------------- VARIABLES ------------------------------------------- */

$bg-color-white: #ffffff;
$bg-color-light-grey: #fafafa;
$bg-color-dark-grey: #e2e2e2;
$bg-color-social-icons: #e1e1e1;

$color-black: #000000;
$color-grey: #777777;
$color-text: #333333;
$color-text-secondary: #999999;
$color-buttons: #071f08;
$color-icons: #707070;
$color-footer: #9c9c9c;
$color-li-active: #444444;
$color-border: #cccccc;
$color-border-2: #ebebeb;
$color-box-shadow-1: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
$color-box-shadow-2: 0 -3px 5px 1px rgba(163, 163, 163, 0.1);